{% extends 'base.html.twig' %}

{% block title %}Ajout d'un Agent{% endblock %}

{% block content %}
    <h1>Création d'un agent</h1>

    {{ include('agent/_form.html.twig') }}

    <a href="{{ path('app_agent_index') }}">Retour à la liste</a>
{% endblock %}
