<form method="post" action="{{ path('app_type_mission_delete', {'id': type_mission.id}) }}" onsubmit="return confirm('Confirmez vous la suppression de cet enregistrement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_mission.id) }}">
    <button class="btn btn-warning">Delete</button>
</form>
