<form method="post" action="{{ path('app_type_planque_delete', {'id': type_planque.id}) }}" onsubmit="return confirm('Confirmez vous la suppression de cet enregistrement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_planque.id) }}">
    <button class="tn btn-warning">Supprimer</button>
</form>
