<form method="post" action="{{ path('app_specialite_delete', {'id': specialite.id}) }}" onsubmit="return confirm('Confirmez vouq la suppression de cet enregistrement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specialite.id) }}">
    <button class="btn btn-warning">Supprimer</button>
</form>
