{% extends 'base.html.twig' %}

{% block title %}Ajout d'une spécialité{% endblock %}

{% block content %}
    <h1>Ajout d'une spécialité</h1>

    {{ include('specialite/_form.html.twig') }}

    <a href="{{ path('app_specialite_index') }}">Retour à la liste</a>
{% endblock %}
