{% extends 'base.html.twig' %}

{% block title %}Ajout du Statut{% endblock %}

{% block content %}
    <h1>Ajout d'un statut</h1>

    {{ include('statut/_form.html.twig') }}

    <a href="{{ path('app_statut_index') }}">Retour à la liste</a>
{% endblock %}
