<form method="post" action="{{ path('app_pays_delete', {'id': pay.id}) }}" onsubmit="return confirm('Confirmez vous la suppression de cet enregistrement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pay.id) }}">
    <button class="btn btn-warning">Supprimer</button>
</form>
