{% extends 'base.html.twig' %}

{% block title %}Edition du Pays{% endblock %}

{% block content %}
    <h1>Edition du Pays</h1>

    {{ include('pays/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_pays_index') }}">Retour à la liste</a>

{% endblock %}
