{% extends 'base.html.twig' %}

{% block title %}Ajout du Pays{% endblock %}

{% block content %}
    <h1>Ajout du Pays</h1>

    {{ include('pays/_form.html.twig') }}

    <a href="{{ path('app_pays_index') }}">Retour à la liste</a>
{% endblock %}
