{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block content %}
    <h1>Pays</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pay.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pay.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pays_index') }}">Retour à la liste</a>

    <a href="{{ path('app_pays_edit', {'id': pay.id}) }}">Editer</a>


{% endblock %}
